<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Welcome</title>
    <link rel="stylesheet" href="/static/website/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Welcommen eh</h1>
    <div style="{{style}}">{{foo}}</div>
    <div>My Meats:</div>
    <div>
        {% for meeting in meetings %}
        <div>
            <a href="{% url 'detail' meeting.id %}">
                {{ meeting.title }}
            </a>
        </div>
        {% endfor %}
    </div>
    <div>
        {% for room in rooms %}
        <div>
            <a href="{% url 'roomdetail' room.id %}">
                {{ room.name }}
            </a>
        </div>
        {% endfor %}
    </div>
</body>
</html>